* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --dark-blue: #0F183A;
    --light-blue: #22388F;
    --white: #FFFFFF;
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--dark-blue);
}

.container {
    width: 100%;
    height: auto;
    /* background-color: var(--light-blue); */
}

.container-header {
    height: 90px;
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: var(--dark-blue);
    padding: 0 10px;
    font-size: 20px;
}

a {
    color: var(--white);
    text-decoration: none;
}

.container-header a:hover {
    color: var(--white);
    cursor: pointer;
}

.cart i {
    color: rgb(250, 51, 6);
}
.cart span {
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 18px;
    left: 89%;
    padding: 3px 7px;
    font-size: 10px;
}

.login i {
    color: rgb(250, 51, 6);
}


/* ...................header-search.................. */

.header-search .input-group form {
    display: flex;
}

.header-search .input-group form input {
    border-radius: 5px 0 0 5px;
}

.header-search .input-group form button {
    border-radius: 0 5px 5px 0;
    background-color: rgb(250, 51, 6);
    border: none;
}


/* .............................................navbar./.......................................................... */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-blue);
    height: 80px;
    font-size: 20px;
}

.navbar-nav a {
    color: #fff;
    font-weight: 400;
    /* margin: 0 12px; */
}

.btn-group {
    color: #000;
}

.btn-group ul {
    background: rgba(0, 0, 0, 0.5);
}

.navbar-nav i {
    font-size: 15px;
}


/* ...............submenu................ */

.navbar .products {
    position: relative;
}

.navbar .submenu {
    position: absolute;
    background-color: brown;
    width: 700px;
    /* height: 400px; */
    padding: 30px;
    left: 174px;
    border-radius: 5px;
    /* display: none; */
    /* z-index: 999; */
}

.navbar .submenu li {
    list-style: none;
    box-sizing: border-box;
    font-size: 17px;
    margin-bottom: 12px;
}

.products:hover .submenu {
    display: block;
}


/* .........................banner.................. */

.banner {
    min-height: 355px;
    width: auto;
}

.img-banner img {
    width: 100%;
    height: auto;
    position: relative;
}

.banner-content .container .row {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 515px;
}

.col-6-right {
    width: 37%;
}

.col-6-right .img-fluid {
    height: 250px;
    width: 540px;
}

.banner-content .container p {
    font-size: 16px;
    text-transform: uppercase;
    color: #b7b7b7;
}

.banner-content .container h3 {
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}

.banner-content .container .btn {
    padding: 12px 34px 14px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
    background-color: rgb(250, 51, 6);
}

.banner-content .container .btn:h over {
    background-color: #233B95;
    transition: 1.5s ease-in-out;
}


/* ...............special deal......................... */

.special-deals {
    align-items: center;
    padding: 12px;
}

.special-deals .container {
    text-align: center;
}

.special-deals h2 {
    text-transform: uppercase;
    color: #fff;
    padding: 30px;
}

.special-deals h4 {
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
}

.special-deals .container .row img {
    height: 310px;
    width: 640px;
    border-radius: 8px;
}

.special-deals .container .img-left {
    position: relative;
}

.special-deals .container .text-deal h5 {
    position: absolute;
    border: 1px solid #ddd;
    color: #fff;
    border-radius: 65px;
    padding: 20px;
    background-color: #22388F;
    top: 5%;
    right: 5%;
}

.special-deals .container .text-1 h4 {
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    top: 70%;
    left: 7%;
    font-size: 33px;
}

.special-deals .container .img-right {
    position: relative;
}

.special-deals .container .text-2 h4 {
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
    top: 70%;
    left: 7%;
    font-size: 33px;
}


/* ...........top products */

.new-products .container {
    text-align: center;
    padding: 12px;
}

.text-show h3 {
    color: #fff;
}

.product-item img {
    width: 185px;
    height: 236px;
    margin-bottom: 20px;
    background-color: var(--dark-blue);
}

.col {
    margin-bottom: 30px;
    text-align: center;
}

.product-info .product-name span {
    color: rgb(250, 51, 6);
    font-weight: 600;
}

.product-price span {
    text-decoration: line-through;
    color: #383838;
    font-size: 15px;
    padding-right: 10px;
}

.product-info a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.product-price {
    color: #fff;
}

.product-info button {
    border-radius: 5px;
    padding: 3px 17px;
    color: #fff;
    font-weight: 300;
    margin-top: 10px;
    background-color: var(--dark-blue);
}


/* ............newl............ */

.newsletter {
    background-color: var(--light-blue);
}

.newsletter h3 {
    color: #fff;
    font-weight: 600;
    font-size: 35px;
}

.newsletter p {
    color: #A7C7CA;
}

.newsletter .container {
    padding: 40px 0px;
    width: 100%;
}

.newsletter-right input {
    outline: none;
    padding: 10px 15px;
    font-size: 16px;
    width: 70%;
    border: none;
    float: left;
    border-radius: 20px 0 0 20px;
}

.newsletter-right button {
    cursor: pointer;
    outline: none;
    padding: 10px 0;
    width: 15%;
    border: none;
    border-radius: 0 20px 20px 0;
}


/* ...........footer............ */

footer {
    background-color: var(--dark-blue);
}