{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root {
    --dark-blue: #0F183A;
    --light-blue: #22388F;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--dark-blue);
}
.wrapper {
    position: relative;
    width: 400px;
    height: 500px;
    background: var(--light-blue);
    border-radius: 20px;
    padding: 40px;
}
.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
} 
