* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}

:root {
    --dark-blue: #0F183A;
    --light-blue: #22388F;
}

body {
    background-color: var(--dark-blue);
}

.container {
    width: 100%;
    height: auto;
}

.container-header a:hover {
    color: var(--white);
    cursor: pointer;
}

.cart i {
    color: rgb(250, 51, 6);
}

.login i {
    color: rgb(250, 51, 6);
}

.container-header {
    height: 90px;
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: var(--dark-blue);
    padding: 0 10px;
    font-size: 20px;
}
.container-header h1 a {
    text-decoration: none;
    color: #fff;
}
.header-search span {
    color: #fff;
}
/* ...................header-search.................. */

.header-search .input-group form {
    display: flex;
}

.header-search .input-group form input {
    border-radius: 5px 0 0 5px;
}

.header-search .input-group form button {
    border-radius: 0 5px 5px 0;
    background-color: rgb(250, 51, 6);
    border: none;
}


/* .............................................navbar./.......................................................... */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-blue);
    height: 80px;
    font-size: 20px;
}

.navbar-nav a {
    color: #fff;
    font-weight: 400;
}

.btn-group {
    color: #000;
}

.btn-group ul {
    background: rgba(0, 0, 0, 0.5);
}

.navbar-nav i {
    font-size: 15px;
}


/* ...............submenu................ */

.navbar .products {
    position: relative;
}

.navbar .submenu {
    position: absolute;
    background-color: brown;
    width: 700px;
    padding: 30px;
    left: 174px;
    border-radius: 5px;
}

.navbar .submenu li {
    list-style: none;
    box-sizing: border-box;
    font-size: 17px;
    margin-bottom: 12px;
}

.products:hover .submenu {
    display: block;
}

#wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.content {
    background: blue;
}

.card-left .list-item-1 {
    margin-bottom: 20px;
    list-style: none;
    line-height: 2.6;
    border: 2px solid #fff;
    padding: 0px 26px 20px;
}

.card-left .list-item-1 a {
    text-decoration: none;
    color: #fff;
}

.text-light .container h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #fff;
    font-size: 27px;
}

.card-left .list-item {
    border: 2px solid #fff;
    /* padding: 40px 30px; */
    padding: 10px 26px;
    margin-bottom: 20px;
    list-style: none;
}

.card-left .list-item a {
    text-decoration: none;
    color: #fff;
}

h2 {
    color: black;
}


/* ...........................card right...................... */

.card-top .img-center-left {
    position: relative;
}
.card-top .img-center-right {
    position: relative;
}

.card-top .img-center img {
    width: 100%;
    border-radius: 8px;
}

.card-top .img-center-left .text-1 h3 {
    position: absolute;
    display: grid;
    top: 35%;
    left: 32%;
    line-height: 1.5;
    font-weight: 500;
    color: #fff;
}
.card-top .img-center-right .text-2 h3 {
    position: absolute;
    display: grid;
    top: 35%;
    left: 26%;
    line-height: 1.5;
    font-weight: 500;
    color: #fff;
}

.text-show h3 {
    color: #fff;
}

.product-item img {
    width: 185px;
    height: 236px;
    margin-bottom: 20px;
    background-color: var(--dark-blue);
}

.card-right .container {
    padding: 55px 0;
}

.col {
    margin-bottom: 30px;
    text-align: center;
}

span {
    color: #ED174A;
    font-weight: 600;
}

.product-info a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.product-price {
    color: #fff;
}
.product-price span {
    text-decoration: line-through;
    color: #383838;
    font-size: 15px;
    padding-right: 10px;
}
.product-info button {
    border-radius: 5px;
    padding: 3px 17px;
    color: #fff;
    font-weight: 300;
    margin-top: 10px;
}

.product-info button:hover {
    background-color: var(--light-blue);
}


/* ................newletter............ */

.newsletter {
    background-color: var(--light-blue);
}

.newsletter h3 {
    color: #fff;
    font-weight: 600;
    font-size: 35px;
}

.newsletter p {
    color: #A7C7CA;
}

.newsletter .container {
    padding: 40px 0px;
    width: 100%;
}

.newsletter-right input {
    outline: none;
    padding: 10px 15px;
    font-size: 16px;
    width: 70%;
    border: none;
    float: left;
    border-radius: 20px 0 0 20px;
}

.newsletter-right button {
    cursor: pointer;
    outline: none;
    padding: 10px 0;
    width: 15%;
    border: none;
    border-radius: 0 20px 20px 0;
}